.header {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
  .menu {
    width: 480px;
    height: 650px;
    background-color: #c9fd74;
    border-radius: 25px;
    position: relative;
  }
}
