@function pxToRem($pixel) {
  @return $pixel / 16 + rem;
}
:root {
  --color-black: hsla(0, 0%, 12%, 100%);
  --color-white: hsla(0, 0%, 100%, 100%);
  --color-purple: hsla(278, 100%, 75%, 100%);
}

main {
  margin: 0;
}

.heading {
  font-size: clamp(3.125rem, 3.464vw + 2.229rem, 5rem);
  line-height: clamp(4.688rem, 3.349vw + 3.821rem, 6.5rem);
  margin: pxToRem(100) 0;
  text-align: center;

  opacity: 0.1;
  position: absolute;
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate3d(-50%, -50%, -2000px);
  white-space: nowrap;
}

.zoom-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  perspective: 100svh;
  width: 100vw;
}

.zoom-item {
  position: absolute;
  transform-origin: center center;

  &[data-layer="3"] {
    opacity: 0.6;
    z-index: 3;
  }

  &[data-layer="2"] {
    opacity: 0.4;
    z-index: 2;
  }

  &[data-layer="1"] {
    opacity: 0.2;
    z-index: 1;
  }

  &:nth-child(2) {
    left: 15vw;
    top: 21%;
    width: 11.5vw;
  }

  &:nth-child(3) {
    left: 29%;
    top: 15%;
    width: 9.2vw;
  }

  &:nth-child(4) {
    left: 36%;
    top: 3%;
    width: 11.5vw;
  }

  &:nth-child(5) {
    right: 30%;
    top: 11%;
    width: 7.6vw;
  }

  &:nth-child(6) {
    bottom: auto;
    right: 7%;
    top: 28%;
    width: 13.2vw;
  }

  &:nth-child(7) {
    bottom: 32%;
    right: 3.5%;
    width: 4.7vw;
  }

  &:nth-child(8) {
    bottom: 13.5%;
    left: 16%;
    width: 10.5vw;
  }

  &:nth-child(9) {
    bottom: 24%;
    left: 29%;
    width: 5.9vw;
  }

  &:nth-child(10) {
    bottom: 46%;
    left: 7.5%;
    top: auto;
    width: 5.2vw;
  }

  &:nth-child(11) {
    bottom: 5.5%;
    right: 15%;
    width: 15vw;
  }

  &:nth-child(12) {
    bottom: 10.5%;
    left: auto;
    right: 38%;
    width: 8.3vw;
  }

  &:nth-child(13) {
    right: 4%;
    top: 5%;
    width: 6.1vw;
  }

  &:not(.heading) {
    max-height: 300px;
    max-width: 300px;
  }

  img {
    width: 100%;
  }
}

.container {
}