.flipbutton {
  width: 100%;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;

  .flipslider {
    position: relative;
    width: 100%;
    height: 100%;

    .flipel {
      width: 100%;
      height: 100%;
   
      p {
        margin: 0px;
      }
      &:nth-of-type(2) {
        background-color: black;
        p {
          color: #c9fd74;
        }
      }
      &:hover {
        .flipperspectiveText {
          transform: rotateX(90deg);
          p {
            &:nth-of-type(1) {
              transform: translateY(-100%);
              opacity: 0;
            }
            &:nth-of-type(2) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.flipperspectiveText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  p {
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    pointer-events: none;

    &:nth-of-type(2) {
      position: absolute;
      transform-origin: bottom center;
      transform: rotateX(-90deg) translateY(9px);
      opacity: 0;
    }
  }
}
